@font-face {
	font-family: by;
	src:url("../FONT/mytype.ttf");
}
@font-face{
	font-family: capture2;
	src:url(../FONT/Capture_it_2.ttf);
}
@font-face{
	font-family: capture1;
	src:url(../FONT/Capture_it.ttf);
}
@font-face{
	font-family: cont;
	src:url(../FONT/Chunkfive.otf);
}
.photo img
{
	width: 250px;
	border-radius: 300px;
	margin-left: 30px;
	margin-top: 40px;
}
ul
{
	list-style: disc; 

}
body
{
	display: block;
	height: auto;
	background-color: #088da5;
}
.body
{
	display: inline-block;	
	width: 1200px;
	height: auto;
	margin-top: 20px;
	margin-left: 200px;
	background-color: #eaeeef;
	box-shadow: 2px 2px 4px 4px #ebebe0;
	border-radius: 5px;

}
.photo
{
display: inline-block;	
width: 300px;
float: left;
}
#info_perso
{
	padding: 15px;
	border-radius: 50px;
	border-style: solid;
	display: inline-block;
}
#titre 	
{
	display: inline-block;
	margin-left: 180px;
	margin-top: 20px;
	font-family: capture1;
	color: #00001a;
}
span{
	font-family: capture1; 
	font-size: xx-large;	
	width: 420px;
	text-decoration:underline;
	color: #088da5;
}
#t1
{
	float: left;
	display: inline-block;	
	margin-top: 185px;
	margin-left: -250px;
	font-family: by; 
	font-size: x-large;	
	width: 420px;
	font-family: capture2;
	color: #00001a;
	height: auto;
}
#t2
{
	float: right;
	display: inline-block;
	font-family: by; 	
	font-size: x-large;
	width: 400px;
	margin-top: 184px;
	margin-right: 147px;
	height: auto;

}
#t3
{
	float: right;
	display: inline-block;
	font-family: by; 
	width: 340px;
	margin-right: -340px;
	margin-top: 540px;
	font-size: x-large;
	height: auto;
}
#t4
{
	float: right;
	display: inline-block;
	font-family: by; 
	width: 420px;
	margin-right: -420px;
	margin-top: 820px;
	font-size: x-large;
	height: auto;
}
#t5
{
	float: right;
	display: inline-block;
	font-family: by; 
	width: 340px;
	margin-right: -341px;
	margin-top: 1090px;
	font-size: x-large;
	height: auto;
}
#t6
{
	float: left;
	display: inline-block;
	font-family: by; 
	width: 340px;
	margin-top: 650px;
	font-size: x-large;
	margin-left: 20px; 
	height: auto;
}

#profil_rec
{
	float: right;
	display: inline-block;
	margin-right: 0px;
	font-family: by;
	font-size: x-large;
	width: 550px;
	margin-top: 10px;
}

#rec
{
	float: right;
	display: inline-block;
	font-family: by;
	font-size: x-large;
	width: 550px;
	margin-top: 100px;
	margin-left: 200px;
}

.*#dip
{
	float: right;
	display: inline-block;
	font-family: by;
	font-size: x-large;
	width: 550px;
	margin-top: 180px;
}

#comp
{
	float: right;
	display: inline-block;
	font-family: by;
	font-size: x-large;
	width: 550px;
	margin-top: 150px;
	margin-left: 100px;
	overflow: scroll;
}

#lang
{
	float: left;
	display: inline-block;
	font-family: by;
	font-size: x-large;
	width: 550px;
	margin-top: -200px;
	margin-left: 20px
}
#mod
{
	position: fixed;
	top: 0px;
	float: left;
	font-family: cont;
	font-size: x-large;
	color: red;
}
a
{
	text-decoration: none;

}
a:visited
{
	color: red;
}
.foot{
	display: inline-block;
	width: 93%;
	position: relative;
	margin-left: 200px;
	height: 32%;
	border-top:1px solid #088da5;
	background-color: #fff;
	text-align: center;
	box-shadow: 2px 2px 4px 4px #ebebe0;
	

}
div.links{
	display: block;
	width: 100%;
	float: left;
	text-align: center;
}
ul.links{
	margin: 0px auto;
	padding: 0px;
	list-style-type: none;
}
li.link{
	display: inline-block;
	width: 40px;
	border-bottom: 1px solid rgba(0,0,0,0.00);
	height: 40px;
	background: none;
	padding: 5px;
	font-size: 26px;
	text-align: center;
	color:#ccc;
	transition-property: color border-color;
	transition-duration: 1s;
}
img.link{
	background:none;
	border:none;
	line-height: 50px;
}
li:first-child{
	cursor: pointer;
	background-color:#43609C;
	border-color: #43609C;
	transition-property: color border-color;
	transition-duration: 1s;
	background-color: none;
}
li:last-child{
	cursor: pointer;
	background-color:rgba(10,150,50,1);
	border-color: rgba(10,150,50,1);
	transition-property: color border-color;
	transition-duration: 1s;	
}
li:nth-child(2){
	cursor: pointer;
	background-color: rgb(50,160,255);
	border-color: rgb(50,160,255);
	transition-property: color border-color;
	transition-duration: 1s;
}
button{
	position: relative;
	bottom: 0px;	
	height: 46px;
	padding: 1px;
	font-family: "mecr";
	font-size: 32px;
	text-align:center; 
	width: 25.23%;
	line-height: 30px;
	border:solid  1px #edeef1;
	border-radius: 3px;
	background-color: #088da5;
	color: #fff;
	text-decoration-line: none; 
	transition-property: background-color , color;
	transition-duration: 2s;
}
button:hover{
	cursor:pointer;
	background-color: #fff;
	color: #088da5;
	transition-property: background-color , color;
	transition-duration: 2s;
}
#id1{
	border-radius: 3px;
	background-color: #fff;
	color: #088da5;
	border-style: solid;
	width: 100px;
	height: 36px;
}
#id2{
	border-radius: 3px;
	background-color: #fff;
	color: #088da5;
	border-style: solid;
	width: 100px;
	height: 36px;
}

#id3{
	border-radius: 3px;
	background-color: #fff;
	color: #088da5;
	border-style: solid;
	width: 100px;
	height: 36px;
}
#id4{
	border-radius: 3px;
	background-color: #fff;
	color: #088da5;
	border-style: solid;
	width: 100px;
	height: 36px;
}
}
