@font-face{
	font-family: "mecr";
	src:url(../FONT/mecr.otf);
}
@font-face {
	font-family: "meco";
	src:url("../FONT/meco.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "by";
	src:url('../FONT/BY.ttf');
}

body{
	display: block;
	width: 100%;
	height: auto;
	padding: 0px;
	margin:0px;
	font-family: "mecr";
	color: #088da5;
	background-color: #088da5;
}
h2{
	text-align: center;
	font-family: "meco";
}
.body{
	display: block;
	width: 72.40%;
	height: 100%;
	float: right;
	margin-right: 14.02%;
	background-color:#edeef1;
	box-shadow: 1px 1px 5px #000;
	border-radius: 5px;
}
.info_perso{
	display: block;
	width: 90%;
	height: 300px;
	margin-left: 4%;
	border-bottom:solid 1px #bdbdbd; 

}
.info_g{
	display: block;
	width: 70%;
	height: 83.5%;
	float: left;
}
.info_d{
	display: block;
	width: 30%;
	height: 83.5%;
	float: right;
	text-align: center;
}
.gg{
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}
.gd{
	display: block;
	width: 50%;
	height: 100%;
	float: right;
}
input{
	display: inline-block;
}
#nom {
	font-family: "hms";
	display: block;	
	height: 40px;
	margin-top: 10px;
	background-color:#fff;
	border-style: solid;
	border-color:#fff; 
	border-radius: 3px;
}
#photo {
	font-family: "hms";
	display: inline-block;	
	height: 46px;
	width: 150px;
	float: left;
	border-radius: 3px;
	margin-top: 15px;
	margin-left:72px;
	position: relative;
	bottom: 7%;
	right: 8%;
	opacity:0;

}
#photo:hover{
	cursor: pointer;
}
#nd{
	font-family: "hms";
	display: block;	
	margin-top: 10px;
	height: 40px;
	width: 228px;
	background-color: #fff;
	border-style: solid;
	border-color:#fff; 
	border-radius: 3px;
}

#dat {
	font-family: "hms";
	display: block;	
	height: 40px;
	background-color:#fff;
	border-style: solid;
	margin-top: 10px;
	border-color:#fff; 
	border-radius: 3px;
}	
#tel {
	font-family: "hms";
	display: block;	
	height: 40px;
	background-color: #fff;
	border-style: solid;
	margin-top: 10px;
	border-color:#fff; 
	border-radius: 3px;
}
#email{
	font-family: "hms";
	display: block;	
	height: 40px;
	background-color: #fff;
	border-style: solid;
	margin-top: 10px;
	border-color:#fff; 
	border-radius: 3px;
}
#password{
	font-family: "hms";
	display: block;	
	height: 40px;
	background-color: #fff;
	border-style: solid;
	margin-top: 10px;
	border-color:#fff; 
	border-radius: 3px;
}
#password:focus{
	background-color: #088da5
}
.prf{
	display: block;
	width: 90%;
	height: 230px;
	 
}
.prf_g{
	display: block;
	width: 70%;
	height: 80%;
	float: left;
	border-bottom:solid 1px #bdbdbd;
}
.prf_d{
	display: block;
	width: 30%;
	height: 80%;
	float: right;
	border-bottom:solid 1px #bdbdbd;
}
.gg{
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}
.gd{
	display: block;
	width: 50%;
	height: 100%;
	float: right;
}
#sec{
	font-family: "hms";
	display: block;	
	height: 40px;
	background-color:#fff;
	border-style: solid;
	margin-top: 10px;
	border-color:#fff; 
	border-radius: 3px;
}
#mob{
	font-family: "hms";
	display: block;	
	height: 40px;
	background-color:#fff;
	border-style: solid;
	margin-top: 10px;
	border-color:#fff; 
	border-radius: 3px;
}
#sal{
	font-family: "hms";
	display: block;	
	height: 40px;
	background-color:#fff;
	border-style: solid;
	margin-top: 10px;
	border-color:#fff; 
	border-radius: 3px;	
}
#ann{
	font-family: "hms";
	display: block;	
	height: 40px;
	background-color:#fff;
	border-style: solid;
	margin-top: 10px;
	border-color:#fff; 
	border-radius: 3px;
}
#disp{
	margin-top: 10px;
	height: 40px;

}

#niv{
	appearance:none;
	-webkit-appearance: none;
	-moz-appearance:none;
	font-family: "mecr";
	display: block;	
	height: 40px;
	margin-top: 15px;
	border:1px  solid#fff;
	border-radius: 2px;
	color: #088da5;
	background: url(../IMG/arrow.svg) no-repeat right center;
  	width: 140px;
   	background-color: #fff;
}

.exp{
	display: block;
	width: 90%;
	height: 250px;
	margin-left: 4%;
	border-bottom:solid 1px #bdbdbd; 
}
.def{
	display: block;
	width: 90%;
	height: 250px;
	margin-left: 4%;
	border-bottom:solid 1px #bdbdbd; 
}
.cmp{
	display: block;
	width: 90%;
	height: 250px;
	margin-left: 4%;
	border-bottom:solid 1px #bdbdbd; 
}
.lng{
	display: block;
	width: 90%;
	height: 250px;
	margin-left: 4%;
	border-bottom:solid 1px #bdbdbd; 
}
textarea{
	display: block;
	width: 66.56%;
	height:70%;
	margin-left: 16%;
	background-color:#fff;
	border-style: solid;
	border-color: #fff;
	border-radius: 3px;
	color: #088da5;
	font-size:30px; 

}
#cv{
	display: inline-block;
	position: relative;
	bottom:  3%;
	height: 46px;
	margin-right: 40%;
	padding: 1px;
	font-size: 32px;
	text-align:center; 
	float: right;
	width: 235px;
	line-height: 30px;
	border:solid  1px #edeef1;
	border-radius: 3px;
	background-color: #088da5;
	color: #fff;
	text-decoration-line: none; 
	transition-property: background-color , color;
	transition-duration: 2s;
}
#cv:hover{
	cursor:pointer;
	background-color: #fff;
	color: #088da5;
	transition-property: background-color , color;
	transition-duration: 2s;
}
#pt{
	display: inline-block;
	margin-top: -63.5px; 
	height: 46px;
	width: 150px;
	margin-right: 52px;
	padding: 1px;
	font-size: 15px;
	text-align:center; 
	float: right;
	line-height: 50px;
	border:none;
	background-color: #088da5;
	color: #fff;
	text-decoration-line: none; 

}
#pt:hover{
	background-color: #fff;
}

